@model List<SelectListItem>


@{
    ViewData["Title"] = "Search Disease";
   
   


}




<head>
    <link rel="stylesheet" href="~/css/site.css" />
   
    <script src="~/js/site.js"></script>
</head>

<h4>Symptome</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchDiseaseResults">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="SearchPhrase" class="control-label"></label>
                <input id="SearchLabel" name="SearchPhrase" class="form-control" onchange="ErrorMessage()" />

            </div>

            <div class="form-group">
                <input id="SearchButton" type="submit" value="Search" class="btn btn-primary" disabled />
            </div>
        </form>
    </div>


    <form asp-action="FilterDiseaseResults">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        
        

        <table id="tableContents">
            @foreach (var filter in Model)
            {
                <tr >
                    <td>
                       
                        <label class="myCheckBoxLabels" for="@filter.Value">
                            <input class="myCheckboxes" id="@filter.Value" type="checkbox" name="Filter" value="@filter.Value" checked="@filter.Selected" onclick="FilterMessage()"/>

                            @filter.Text

                        </label>
                    </td>
                    
                   
                </tr>
            }
        </table>



        <input id="FilterButton" type="submit" value="Filter" class="btn btn-primary" disabled />

    </form>
    
</div>

<div>
    <a asp-controller="" asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<p id="ErrorMessage"> </p>